$g: #333;
$i: inline-block;
$sb: slateblue;
$all: all 0.3s linear; 
.bdy{background-color: $g;}
.container-fluid{padding:0;} 
header{background-color: $g;
		display: $i;
		border: 2px solid $sb;
		img{display: $i;width:200px; height: 50px; margin-left: 40px;}
	button{margin-left:17%;display: $i;}
		transition: $all;
		div{height: 28px;}
		.btn{padding-top: 3px;
			border-radius: 0 6px 6px 0;}
}
	
header:hover{box-shadow: 0px 0px 30px $sb;}
.grid-item { width: 100px; 
img{width:200px; height:200px;}}
.grid-item--width2 { width: 200px; }



